body {
  background: rgb(34, 137, 122);
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}
.content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-content: center;
  justify-content: center;
}
main{
  min-width: 80vw;
}
.sidebar{
  grid-column: 2/3;
  background: #fff;
  padding: 0 0.5rem;
  color: black;
  width: 100%;
  transition: all 1s;
  cursor:cell;
}
.sidebar:hover{
  padding: 0rem 5rem;
  transform: translateX(-.5rem);
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgb(255, 255, 255,0.25);
}